
.mainmenu-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
}

.mainmenu-btn:hover {
    border-radius: 5px;
    border: rgba(189, 189, 189) 2px solid;
    background-color: rgba(128, 128, 128, 0.836);
}

.fiveday {
    font-size: 20px;
    color: white;
    }
  
