.main-menu-box {
    color: white;
}

.break-line {
    border-color: rgb(189, 189, 189);
    width: 30%;
    margin: 30px auto 0 auto;
    
}


.temp-label {
    margin-right: 20px;
}

.temp-type-radio {
    transform: scale(2);
    margin-right: 30px;
    
  
}

.temp-container {
    width: 30%;
    margin: 30px auto 0 auto ;
    
}

.search-btn{
    width: 20%;
    border-radius: 5px;
    border: rgba(189, 189, 189) 2px solid;
    padding: 10px;
    margin: 30px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    
}

.search-btn:hover {
    background-color: rgba(128, 128, 128, 0.836);
    font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 1024px) {
    .temp-container {
        width: 60%;
    }

    .break-line {
        width: 60%;
    }

    .search-btn {
        width: 60%;
    }
}


@media screen and (max-width: 578px) {
    .main-header {
        font-size: 20px;
    }

    .sub-text {
        font-size: 15px;
    }

    .temp-label {
        font-size: 15px;
    }

    .temp-type-radio {
        transform: scale(1)
    }
    
    .temp-container {
        width: 80%;
    }

    .break-line {
        width: 80%;
    }

    .search-btn {
        width: 75%;
    }

    input, input::-webkit-input-placeholder {
        font-size: 15px;
    }
}

